*.ckpt
*.pt
checkpoints/
outputs/
*.err
model_cond_generation/
model_cond_generation_batch32/
wandb/
# WandB and logs
wandb/
*.log
*.out
*.txt
*.json
*.csv
*.pth
*.npy
logs/
*.gif
results_cond_forecasting_cfg/
results_cond_forecasting_cfg_oneframe/
sample_gifs/
models_results/
solar/
*.pdf
RAE/