# torch provided by CSCS pytorch/v2.6.0:v1 uenv
torchdiffeq==0.2.5
torchsde==0.2.6
# torchvision provided by CSCS pytorch/v2.6.0:v1 uenv
accelerate==0.25.0
astropy==6.1.0
bitsandbytes==0.41.3
captum==0.8.0
clean_fid==0.1.35
openai-clip
dctorch==0.1.2
debugpy==1.8.13
einops==0.8.1
flash_attn==2.8.3
Glymur==0.12.8
imageio>=2.33,<3.0
ipython==8.12.3
jsonmerge==1.9.2
matplotlib==3.6.2
natten==0.21.1
numpy==1.26.4
openai_clip==1.0.1
opencv_python==4.7.0.68
opencv_python_headless==4.7.0.72
pandas==2.3.3
Pillow==12.0.0
safetensors==0.6.2
scikit_learn>=1.5.2
scipy==1.16.3
scikit-image>=0.24.0
sunpy==6.0.5
tqdm==4.67.1
wandb==0.16.1
# xformers==0.0.32.post2
pyparsing
threadpoolctl
cycler
python-dateutil
kiwisolver
traitlets
stack_data
pygments
pexpect
pickleshare
backcall
decorator
prompt_toolkit
jsonschema
trampoline
ftfy
pyerfa